<div class="legend">
	<% @match.players.each do |player| %>
		<div>
			<span><img src="<%= player.icon.path %>" ></span>
			<span id="name"><%= player.name %></span>
			<span id="directions">Press
			<span id="<%= player.name %>_keycode"></span>
			to GO.</span>
		</div>
	<% end %>
</div>
<div class="race">
	<table>
	<% @match.players.each do |player| %>
		<tr id="<%= player.name %>">
			<td class="active"><img src="<%= player.icon.path %>"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<% end %>
	</table>
</div>